#name {
    color: #ffffff;
    background: #4aaaa5;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}
header {
    border-bottom: 2px solid #cccccc;
    background: #ffffff;
}
.nav-link {
    font-size: 19px;
    text-decoration: none;
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    padding: 15px 15px 15px 15px;
}
body {
    background: url("../images/hexellence.png") repeat;
}
h1 {
    color: #4aaaa5;
    font-family: 'Georgia', Times, Times New Roman, serif;
    margin-bottom: 0px;
}
#headline {
    margin-left: 20px;
}
p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Arial, Helvetica, sans-serif;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 20px;
}
footer {
    color: #ffffff;
    background: #666666;
    text-align: center;
    line-height: 85px;
    border-top: 5px solid #4aaaa5;
    height: 60px;
    width: 100%;
}
section {
    background: #ffffff;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    padding: 30px;
    width: 960px;
    border: 1px solid #dddddd;
    overflow: auto;
}
hr {
    margin: 15px;
    border: 0;
    border-top: 2px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}
img {
    margin-top: 10px;
}
.project {
    float: left;
    display: block;
    text-decoration: none;
    width: 275px;
    height: 205px;
    position: relative;
    margin: 40px 40px 15px 0px;
}
.project img {
    width: 100%;
    height: 100%;
}
.project h3 {
    font-family: 'Georgia', Times, Times New Roman, serif;
    font-weight: normal;
    color: #ffffff;
    background: #4aaaa5;
    width: 100%;
    position: absolute;
    bottom: 10px;
    text-align: center;
    padding-top: 19px;
    padding-bottom: 19px;
}